body {
  font-family: Arial, sans-serif;
  background-color: #121212; 
  margin: 0;
  padding: 0;
}

.body {
  padding: 20px;
}

.row {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #ff6600; 
  border: solid 1px #cc5200; 
  color: #f1f1f1; 
}
.game-slider {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  justify-items: center;
}

.game-card {
  background-color: #1e1e1e; 
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.game-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.game-card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border: solid 2px #cc5200; 
  border-radius: 8px 8px 0 0;
}

.game-name {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: #333333; 
  border-radius: 0 0 8px 8px;
  color: #ff6600; 
  transition: background-color 0.3s ease-in-out;
}

.game-name:hover {
  background-color: #444444; 
}

img {
  max-width: 100%;
  height: auto;
}
