<nav class="floating-navbar">
  <div class="logo">Logo</div>
  <ul>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/play">Play</a></li>
    <li><a routerLink="/profile">Profile</a></li>
    <li><a routerLink="/upload">Upload</a></li>
    <li *ngIf="!username"><a routerLink="/login-signup">Signup/Login</a></li>
    <li *ngIf="username">
      Welcome, {{ username }}
      <button class="log" (click)="logout()">Logout</button>
    </li>
  </ul>
</nav>

  
  <router-outlet></router-outlet> 

  <footer class="footer">
    <p>&copy; 2024 Your Project. All rights reserved.</p>
  </footer>