<div class="video">
    <video class="background-video" loop autoplay muted>
        <source src="https://videos.pexels.com/video-files/5680034/5680034-hd_1920_1080_24fps.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>

<div class="body">
    <div class="popular-games-bar">
        <div class="row">
            <span>Popular Games</span>
        </div>
    </div>
    <div class="game-slider">
        <div class="game-card"></div>
        <div class="game-card"></div>
        <div class="game-card"></div>
        <div class="game-card"></div>
        <div class="game-card"></div>
    </div>
</div>


